/* Font family */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/* Custom props */
:root {
	--white-color: #fff;
	--header-color: #f6f4f0;
	--yellow-color: #fdcf24;
	--black-hhf-color: #1e1e1e;
	--title-color: #12141d;
	--subtitle-color: rgba(18, 20, 29, 0.7);
	--black-color: #000000;
	--text-color: #454242;
	--green-color: #055f5b;
	--card-border-color: #e2dad6;
	--card-bg-color: #faf8f6;
	--pricing-bg-color: linear-gradient(
		to bottom,
		rgba(245, 241, 238, 0.8),
		#f5f1ee
	);
	--email-bg-color: #649969;
	--font-inter: 'Inter';
	--font-rubik: 'Rubik';
}

/* Global */
html {
	height: 100%;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	height: 100%;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	font-family: 'Arial', sans-serif;
	background-color: #fff;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
}

img {
	max-width: 100%;
	height: auto;
}

#preloader {
	position: fixed;
	inset: 0;
	z-index: 999999;
	overflow: hidden;
	background: #fff;
	transition: all 0.6s ease-out;
}

#preloader:before {
	content: '';
	position: fixed;
	top: calc(50% - 30px);
	left: calc(50% - 30px);
	border: 6px solid yellow;
	border-color: #34caa5 black;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	animation: animate-preloader 1.5s linear infinite;
}

@keyframes animate-preloader {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

/* Scroll top */
.scroll-top {
	position: fixed;
	visibility: hidden;
	opacity: 0;
	right: 15px;
	bottom: -15px;
	z-index: 99999;
	background-color: var(--text-color);
	width: 44px;
	height: 44px;
	border-radius: 50px;
	transition: all 0.4s;
}

.scroll-top i {
	font-size: 24px;
	color: var(--white-color);
	line-height: 0;
}

.scroll-top:hover {
	background-color: var(--subtitle-color);
}

.scroll-top.active {
	visibility: visible;
	opacity: 1;
	bottom: 15px;
}

/* Container */
.container {
	width: 100%;
	max-width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
}

/* Main content */
.main-content {
	flex-grow: 1;
}

.section-title {
	font-family: var(--font-rubik);
	font-weight: 600;
	font-size: 48px;
	line-height: normal;
	color: var(--title-color);
}

.section-subtitle {
	font-family: var(--font-inter);
	font-weight: 400;
	font-size: 18px;
	line-height: 30px;
	color: var(--subtitle-color);
}

@media only screen and (max-width: 991px) {
	.section-title,
	.section-subtitle {
		text-align: center;
	}

	.section-title {
		font-size: 40px;
	}
}

@media only screen and (max-width: 506px) {
	.section-title {
		font-size: 32px;
		line-height: normal;
	}
}

@media only screen and (max-width: 410px) {
	.section-title {
		font-size: 27px;
	}
}

/* Site header */
.site-header {
	padding-top: 25px;
	padding-bottom: 25px;
	background-color: var(--header-color);
}

.navbar .container-fluid {
	background-color: var(--header-color);
}

.navbar-brand {
	margin-right: 53px;
}

.navbar-nav {
	gap: 60px;
	margin-right: auto;
}

.nav-link {
	font-family: var(--font-inter);
	font-weight: 500;
	font-size: 18px;
	line-height: 24px;
	color: var(--black-hhf-color);
}

.nav-link:hover {
	color: var(--text-color);
}

.nav-link:focus {
	color: #34caa5;
}

.header-btns {
	display: flex;
	align-items: center;
	gap: 16px;
}

.sign-btn,
.started-btn {
	white-space: nowrap;
	border: 0;
	padding: 13px 20px;
	border-radius: 10px;
	font-family: var(--font-inter);
	font-weight: 500;
	font-size: 18px;
	line-height: 24px;
	color: var(--black-hhf-color);
	transition: all 0.3s linear;
}

.sign-btn {
	border: 2px solid var(--black-hhf-color);
	background-color: var(--white-color);
	padding: 11px 18px;
}

.sign-btn:hover,
.hero-video-btn:hover {
	border-color: var(--yellow-color);
}

.started-btn {
	background-color: var(--yellow-color);
}

.started-btn:hover,
.hero-free-btn:hover {
	background-color: var(--white-color);
}

.button-active:active {
	opacity: 0.7;
}

.navbar-toggler:focus {
	box-shadow: 0 0 0 3px #34caa5;
}

@media only screen and (max-width: 1200px) {
	.navbar-nav {
		gap: 25px;
	}
}

@media only screen and (max-width: 991px) {
	.navbar-nav {
		gap: 15px;
		align-items: center;
		margin-top: 20px;
		margin-bottom: 20px !important;
	}

	.header-btns {
		justify-content: center;
	}
}

@media only screen and (max-width: 340px) {
	.header-btns {
		flex-direction: column;
	}
}

/* Hero */
.hero {
	padding-top: 71px;
	background-color: #f1f1f1;
	overflow: hidden;
}

.hero-top {
	gap: 47px;
}

.hero-img-badge {
	right: -176px;
}

@media only screen and (max-width: 991px) {
	.hero {
		padding-bottom: 45px;
	}

	.hero-img-badge {
		display: none;
	}

	.hero-text-btns,
	.hero-text-stars {
		justify-content: center;
	}
}

.hero-text {
	max-width: 602px;
}

.hero-text h1 {
	padding: 0;
	margin: 0;
	margin-bottom: 19px;
	font-family: var(--font-rubik);
	color: var(--black-hhf-color);
	font-size: 54px;
	font-weight: 700;
	line-height: 1.6;
}

.hero-text > p {
	font-family: var(--font-inter);
	font-weight: 500;
	font-size: 20px;
	line-height: 1.6;
	color: var(--black-hhf-color);
	margin: 0;
	margin-bottom: 48px;
}

.hero-text-btns {
	gap: 20px;
	display: flex;
	align-items: center;
	margin-bottom: 24px;
}

.hero-text-btns a {
	text-decoration: none;
	padding: 18px 30px;
	border-radius: 12px;
	display: flex;
	align-items: center;
	gap: 10px;
	font-family: var(--font-rubik);
	font-weight: 500;
	font-size: 18px;
	line-height: 24px;
	color: var(--black-hhf-color);
	transition: all 0.3s linear;
}

.hero-free-btn {
	background-color: var(--yellow-color);
}

.hero-video-btn {
	background-color: var(--white-color);
	border: 2px solid var(--black-hhf-color);
	padding: 16px 28px;
}

.hero-text-stars:last-child {
	color: var(--subtitle-color);
	font-family: var(--font-inter);
	font-weight: 500;
	font-size: 16px;
}

.trustpilot {
	color: var(--black-color);
	position: relative;
	top: 2px;
	font-weight: 500;
}

.hero-shape {
	top: 350px;
	right: -450px;
}

@media only screen and (max-width: 768px) {
	.hero-text h1 {
		line-height: normal;
		font-size: 40px;
	}

	.hero {
		padding-top: 50px;
	}
}

@media only screen and (max-width: 500px) {
	.hero-top {
		gap: 35px;
	}

	.hero-text h1 {
		font-size: 32px;
	}

	.hero-text > p {
		line-height: normal;
		font-size: 18px;
		margin-bottom: 25px;
	}

	.hero-text-btns a {
		padding: 12px 24px;
		white-space: nowrap;
	}
}

@media only screen and (max-width: 372px) {
	.hero-text h1 {
		font-size: 27px;
	}

	.hero-text > p {
		font-size: 16px;
	}

	.hero-text-btns {
		flex-direction: column;
	}
}

/* Partners */
.partners {
	background-color: #f1f1f1;
}

.partners-inner {
	background-color: var(--yellow-color);
	padding-top: 45px;
	padding-bottom: 45px;
	transform: rotate(1deg);
	transform-origin: left top;
	position: relative;
	bottom: 8px;
}

.partners-inner ul {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}

.partners ul::-webkit-scrollbar {
	width: 0;
	height: 0;
}

.partners-inner li {
	font-family: var(--font-inter);
	font-weight: 600;
	font-size: 32px;
	line-height: normal;
	color: var(--black-hhf-color);
	word-spacing: 15px;
	min-width: 1430px;
}

@media only screen and (max-width: 991px) {
	.partners-inner ul {
		overflow: scroll;
		justify-content: flex-start;
		padding-left: 10px;
		padding-right: 10px;
	}
}

@media only screen and (max-width: 576px) {
	.partners-inner li {
		font-size: 20px;
		word-spacing: 10px;
		min-width: 940px;
	}

	.partners-inner {
		padding-top: 20px;
		padding-bottom: 20px;
	}
}

/* Improve section */
.improve {
	padding-top: 133px;
}

.improve-inner {
	gap: 32px;
}

.improve-text {
	max-width: 636px;
}

.improve-title {
	margin-bottom: 28px;
}

.improve-subtitle {
	margin-bottom: 74px;
}

.improve-card {
	max-width: 543px;
	gap: 22px;
}

.improve-card:not(:last-child) {
	margin-bottom: 57px;
}

.improve-card h3 {
	font-family: var(--font-rubik);
	font-weight: 600;
	font-size: 20px;
	line-height: 26px;
	color: var(--title-color);
	margin-bottom: 14px;
}

.improve-card p {
	font-family: var(--font-inter);
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: var(--subtitle-color);
}

@media only screen and (max-width: 991px) {
	.improve {
		padding-top: 45px;
		padding-bottom: 45px;
	}
}

@media only screen and (max-width: 500px) {
	.improve-subtitle {
		margin-bottom: 50px;
	}

	.improve-card:not(:last-child) {
		margin-bottom: 30px;
	}
}

/* Customers section */
.customers {
	padding-top: 88px;
	padding-bottom: 88px;
	background-color: var(--black-hhf-color);
}

.customers-title {
	font-family: var(--font-inter);
	font-weight: 500;
	font-size: 18px;
	line-height: 24px;
	color: var(--white-color);
	margin-top: 0;
	margin-bottom: 24px;
}

.customers-title span {
	color: var(--yellow-color);
}

.customers-item img {
	transition: transform 0.3s linear;
}

.customers-item img:hover {
	transform: scale(1.1);
}

@media only screen and (max-width: 768px) {
	.customers,
	.feedback {
		padding-top: 60px;
		padding-bottom: 60px;
	}
}

/* Feedback section */
.feedback {
	background-color: #fbfeff;
	padding-top: 97px;
	padding-bottom: 97px;
}

.feedback-top {
	margin-bottom: 65px;
	gap: 88px;
}

.feedback-title {
	margin-bottom: 38px;
}

.feedback-subtitle {
	color: var(--text-color);
}

.feedback-text {
	max-width: 570px;
	padding-top: 70px;
}

.feedback-badge {
	top: 70px;
	left: 520px;
	transform: rotate(100deg);
}

.feedback-img {
	transition: transform 0.3s linear;
}

.feedback-img:hover {
	transform: scale(1.02);
}

.feedback-cards {
	gap: 30px;
}

.feedback-card {
	width: 370px;
	padding: 24px 24px 17px 24px;
	border-radius: 8px;
	border: 1px solid transparent;
	transition: border-color 0.3s ease, transform 0.3s ease;
}

.feedback-card img {
	margin-bottom: 16px;
}

.feedback-card h3 {
	margin-bottom: 10px;
	font-family: var(--font-rubik);
	font-weight: 600;
	font-size: 20px;
	color: var(--black-color);
}

.feedback-card p {
	margin-bottom: 0px;
	font-family: var(--inter-rubik);
	font-weight: 400;
	font-size: 16px;
	color: #414141;
}

.feedback-card:hover {
	border-color: var(--yellow-color);
	transform: translateY(-5px);
}

@media only screen and (max-width: 1200px) {
	.feedback-badge {
		display: none;
	}

	.feedback-top {
		flex-direction: column-reverse;
		align-items: center;
		margin-bottom: 44px;
	}

	.feedback-text {
		padding-top: 0;
	}
}

@media only screen and (max-width: 768px) {
	.feedback {
		padding-top: 60px;
		padding-bottom: 60px;
	}
}

@media only screen and (max-width: 375px) {
	.feedback-card {
		width: 100%;
		max-width: 370px;
	}
}

/* Build section */
.build {
	padding-top: 94px;
	padding-bottom: 120px;
}

.build-container {
	gap: 120px;
}

.build-top {
	gap: 88px;
}

.build-text {
	max-width: 558px;
}

.build-btn {
	display: inline-block;
	text-decoration: none;
	border-radius: 12px;
	background-color: var(--yellow-color);
	color: var(--black-color);
	padding: 18px 30px;
	font-family: var(--font-rubik);
	font-weight: 500;
	font-size: 18px;
	line-height: 24px;
	margin-top: 30px;
}

.build-btn img {
	margin-left: 9px;
}

@media only screen and (max-width: 1200px) {
	.build-top {
		flex-direction: column-reverse;
		gap: 44px;
	}

	.build-container {
		gap: 60px;
	}

	.build-text {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}

@media only screen and (max-width: 768px) {
	.build {
		padding-top: 60px;
		padding-bottom: 60px;
	}
}

.build-bottom {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 72px;
}

.build-check {
	max-width: 526px;
	display: flex;
	flex-direction: column;
	gap: 50px;
}

.build-check div {
	display: flex;
	align-items: flex-start;
	gap: 24px;
}

.build-text-size {
	font-size: 20px;
}

@media only screen and (max-width: 1200px) {
	.build-bottom {
		flex-direction: column;
		gap: 60px;
	}
}

@media only screen and (max-width: 600px) {
	.build-check {
		gap: 20px;
	}

	.build-check div {
		flex-direction: column-reverse;
		align-items: center;
	}
}

.build-links {
	display: flex;
	flex-direction: column;
	max-width: 570px;
	flex-grow: 1;
}

.build-links a {
	font-family: var(--font-rubik);
	font-weight: 400;
	font-size: 22px;
	line-height: 32px;
	color: var(--title-color);
	text-decoration: none;
	display: flex;
	justify-content: space-between;
}

.build-links a > img {
	margin-left: 20px;
	transform: rotate(-35deg);
	transition: transform 0.3s ease;
}

.build-links a:first-child {
	padding-bottom: 24px;
}

.build-links a:last-child {
	padding-top: 24px;
}

.build-links a:nth-child(2) {
	padding-top: 23px;
	padding-bottom: 23px;
	border-top: 1px solid var(--title-color);
	border-bottom: 1px solid var(--title-color);
}

.build-links a:hover > img {
	transform: rotate(0);
}

/* Pricing section */
.pricing {
	padding-top: 77px;
	padding-bottom: 68px;
	background-image: var(--pricing-bg-color);
}

.pricing-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.pricing-title {
	margin-top: 0;
	margin-bottom: 53px;
	text-align: center;
	font-family: var(--font-rubik);
	font-weight: 600;
	font-size: 52px;
	line-height: normal;
	color: var(--green-color);
	max-width: 520px;
}

.pricing-btns {
	display: flex;
	align-items: center;
	border-radius: 3px;
	background-color: var(--white-color);
	padding: 3px;
	gap: 3px;
	margin-bottom: 78px;
}

.monthly-btn,
.yearly-btn {
	padding: 10px 33px;
	border-radius: 3px;
	border: 0;
	background-color: transparent;
	font-family: var(--font-inter);
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
	color: var(--title-color);
	transition: color 0.3s ease, background-color 0.3s ease;
}

.pricing-btn-active {
	color: var(--white-color);
	background-color: var(--green-color);
}

.pricing-cards {
	display: flex;
	align-items: center;
	gap: 30px;
	flex-wrap: wrap;
	justify-content: center;
}

.pricing-card {
	border-radius: 36px;
	border: 1px solid var(--card-border-color);
	padding: 32px 35px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--card-bg-color);
	transition: box-shadow 0.3s ease;
}

.pricing-card h3 {
	margin: 0;
	font-family: var(--font-inter);
	font-weight: 600;
	font-size: 20px;
	line-height: 28px;
	color: var(--title-color);
}

.pricing-card strong {
	font-family: var(--font-rubik);
	font-weight: 400;
	font-size: 64px;
	display: inline-block;
}

.pricing-card div > span {
	font-size: 30px;
	display: inline-block;
}

.pricing-card div {
	margin-top: 50px;
	margin-bottom: 27px;
}

.card-list {
	margin: 0;
	padding: 0;
	padding-top: 21px;
	border-top: 1px solid rgba(5, 95, 91, 0.1);
	padding: 21px 60px 42px;
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 19px;
}

.card-item {
	display: flex;
	align-items: center;
	gap: 13px;
	font-family: var(--font-inter);
	font-weight: 600;
	font-size: 16px;
	color: var(--title-color);
}

.pricing-card-two {
	color: var(--white-color);
}

.pricing-card:nth-child(2) .pricing-card-two {
	color: var(--white-color);
}

.pricing-card:nth-child(2) span {
	color: var(--white-color);
}

.pricing-card:nth-child(2) button {
	background-color: var(--yellow-color);
}

.pricing-card:nth-child(2) {
	background-color: var(--green-color);
}

.pricing-card:nth-child(2) .card-list {
	padding: 32px 45px 42px;
	border-top-color: rgba(255, 255, 255, 0.1);
}

.pricing-card:nth-child(3) .card-list {
	padding: 21px 52px 42px;
}

.pricing-card:first-child svg {
	color: #649969;
}

.pricing-card:first-child .card-item svg > path {
	color: var(--white-color);
}

.pricing-card:nth-child(2) svg {
	color: var(--white-color);
}

.pricing-card:nth-child(2) .card-item svg > path {
	color: var(--green-color);
}

.pricing-card:nth-child(3) svg {
	color: var(--green-color);
}

.pricing-card:nth-child(3) .card-item svg > path {
	color: var(--white-color);
}

.pricing-card:hover button {
	background-color: var(--card-border-color);
}

.pricing-card button {
	border: 0;
	border-radius: 36px;
	background-color: var(--white-color);
	display: inline-block;
	padding: 20px;
	width: 100%;
	font-family: var(--font-inter);
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
	color: var(--title-color);
	transition: background-color 0.3s ease;
}

@media only screen and (max-width: 991px) {
	.pricing-title {
		font-size: 40px;
	}
}

@media only screen and (max-width: 506px) {
	.pricing-title {
		font-size: 32px;
		margin-bottom: 30px;
	}

	.pricing-btns {
		margin-bottom: 50px;
	}
}

@media only screen and (max-width: 410px) {
	.pricing-title {
		font-size: 31px;
	}
}

@media only screen and (max-width: 390px) {
	.card-list {
		padding: 10px 30px 20px;
	}
}

.pricing-card-badge {
	top: -20px;
	right: -80px;
	z-index: -1;
}

@media only screen and (max-width: 1320px) {
	.pricing-card-badge {
		display: none;
	}
}

/* Questions section */
.questions {
	padding-top: 65px;
	padding-bottom: 70px;
	background-image: var(--pricing-bg-color);
}

.questions-title {
	margin-bottom: 40px;
}

.accordion-badge {
	right: -30px;
	top: 40px;
}

.accordion-shape {
	right: 300px;
	top: -28px;
}

@media only screen and (max-width: 1270px) {
	.accordion-badge,
	.accordion-shape {
		display: none;
	}
}

.accordion {
	padding: 34px 58px 28px;
	background-color: #f3f3f3;
}

@media only screen and (max-width: 992px) {
	.accordion {
		padding: 0;
	}
}

.accordion-item {
	background-color: var(--black-hhf-color) !important;
}

.accordion-button {
	box-shadow: none !important;
	background-color: #f3f3f3;
	padding: 21px 17px;
	font-family: var(--font-rubik);
	font-weight: 500;
	font-size: 20px;
	line-height: normal;
	color: #000000;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

@media only screen and (max-width: 768px) {
	.accordion-button {
		font-size: 18px;
	}
}

.accordion-button:focus {
	background-color: var(--black-hhf-color) !important;
	color: var(--white-color);
}

.accordion-body {
	color: var(--white-color);
}

.accordion-button:not(.collapsed) {
	background-color: var(--black-hhf-color);
	color: var(--white-color);
}

.accordion-button::after {
	content: '+';
	background-image: none;
	width: 20px;
	height: 20px;
	color: #5a5a5a;
	background-color: var(--white-color);
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 30px;
}

.accordion-button:not(.collapsed)::after {
	background-image: none;
	content: '-';
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #f4c44c;
}

/* About section */
.about {
	padding-top: 100px;
	padding-bottom: 100px;
	background-color: #0f172a;
	background-image: url('../img/pricing-one-line.svg'),
		url('../img/pricing-two-line.svg');
	background-repeat: no-repeat, no-repeat;
	background-size: 341px 304px, 309px 271px;
	background-position: top left, bottom right;
}

.about-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-image: url('../img/pricing-shape.svg'),
		url('../img/pricing-shape.svg');
	background-repeat: no-repeat, no-repeat;
	background-size: contain, contain;
	background-position: top 92px left 1000px, top 410px right 987px;
}

.about-subtitle {
	font-family: var(--font-inter);
	font-weight: 500;
	font-size: 18px;
	line-height: 30px;
	color: rgba(255, 255, 255, 0.6);
	margin-bottom: 22px;
	text-align: center;
}

.about-title {
	font-family: var(--font-rubik);
	font-weight: 600;
	font-size: 52px;
	color: var(--white-color);
	margin-bottom: 80px;
	text-align: center;
}

.about-badge {
	top: -30px;
	left: 900px;
}

.about-testimonials-list {
	display: flex;
	align-items: stretch;
	gap: 30px;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 80px;
}

.about-testimonials-item {
	background-color: var(--white-color);
	padding: 32px 26px 30px;
	width: 370px;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.about-testimonials-item > img {
	margin-bottom: 30px;
}

.about-testimonials-item > p {
	font-family: var(--font-inter);
	font-weight: 400;
	font-size: 18px;
	color: #18181b;
	margin-bottom: 28px;
	line-height: 28px;
	flex-grow: 1;
}

.about-testimonials-item div {
	display: flex;
	align-items: center;
	gap: 16px;
}

.about-testimonials-item > div h4 {
	font-family: var(--font-rubik);
	font-weight: 600;
	font-size: 16px;
	line-height: 28px;
	color: var(--black-hhf-color);
	margin-bottom: 2px;
}

.about-testimonials-item > div p {
	font-family: var(--font-inter);
	font-weight: 400;
	font-size: 14px;
	line-height: 22px;
	color: rgba(15, 23, 42, 0.8);
	margin-bottom: 0;
}

.about-container a {
	font-family: var(--font-rubik);
	font-weight: 500;
	font-size: 16px;
	line-height: 28px;
	color: var(--white-color);
	padding-bottom: 6px;
	text-decoration: none;
	border-bottom: 1px solid var(--white-color);
}

@media only screen and (max-width: 1155px) {
	.about-badge {
		display: none;
	}
}

@media only screen and (max-width: 700px) {
	.about {
		padding-top: 70px;
		padding-bottom: 70px;
	}

	.about-title {
		margin-bottom: 30px;
		font-size: 32px;
	}
}

@media only screen and (max-width: 450px) {
	.about-testimonials-item {
		width: 100%;
	}
}

/* Site footer */
.site-footer {
	background-color: var(--white-color);
}

.site-footer ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.site-footer-container {
	padding-top: 90px;
	padding-bottom: 90px;
	display: flex;
	align-items: stretch;
	gap: 70px;
}

@media only screen and (max-width: 768px) {
	.site-footer-container {
		padding-top: 60px;
		padding-bottom: 60px;
	}
}

.site-footer-about img {
	margin-bottom: 50px;
}

.site-footer-about p {
	max-width: 270px;
	margin-bottom: 125px;
	font-family: var(--font-inter);
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	color: var(--black-hhf-color);
}

.site-footer-about span {
	margin-bottom: 27px;
	font-family: var(--font-rubik);
	font-weight: 600;
	font-size: 20px;
	line-height: 1.2;
	color: var(--black-hhf-color);
	display: inline-block;
}

.site-footer-about ul {
	display: flex;
	align-items: center;
	gap: 42px;
}

.site-footer-about li {
	flex-shrink: 0;
}

.site-footer-links {
	display: flex;
	gap: 72px;
	align-items: stretch;
}

.site-footer-links li:not(:first-child):not(:last-child) {
	margin-bottom: 28px;
}

.site-footer-links a {
	text-decoration: none;
	display: inline-block;
	color: var(--black-hhf-color);
	font-family: var(--font-inter);
	font-weight: 500;
	font-size: 20px;
	line-height: 1.6;
	transition: color 0.3s ease;
}

.site-footer-links li:first-child a {
	margin-bottom: 40px;
	font-family: var(--font-rubik);
	font-weight: 600;
	font-size: 24px;
	line-height: 1.5;
}

.site-footer-links a:hover {
	color: var(--email-bg-color);
}

.site-footer-contact > p {
	font-family: var(--font-rubik);
	font-weight: 500;
	font-size: 24px;
	line-height: 1.2;
	color: var(--black-hhf-color);
	margin-bottom: 20px;
}

.site-footer-adress {
	display: flex;
	gap: 24px;
	align-items: flex-start;
	margin-bottom: 80px;
}

.site-footer-adress li {
	display: flex;
	align-items: center;
	gap: 16px;
}

.site-footer-icon-bg {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 13px;
	background-color: rgba(30, 30, 30, 0.05);
	border-radius: 50%;
	width: 50px;
	height: 50px;
	transition: background-color 0.3s ease;
}

.site-footer-adress ul:first-child li:not(:last-child) {
	margin-bottom: 36px;
}

.site-footer-icon-bg:hover {
	background-color: rgba(30, 30, 30, 0.2);
}

.site-footer-form span {
	display: inline-block;
	font-family: var(--font-rubik);
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	color: var(--black-hhf-color);
	margin-bottom: 16px;
}

.site-footer-input {
	padding-top: 7px;
	border-top: 1px solid var(--header-color);
	display: inline-flex;
}

.site-footer-input input {
	padding: 18px 24px;
	background-color: var(--header-color);
	border: 0;
	font-family: var(--font-rubik);
	outline: none;
}

.site-footer-input button {
	border: 0;
	padding: 18px 24px;
	background-color: var(--email-bg-color);
	text-transform: uppercase;
	color: var(--white-color);
	font-weight: 700;
}

.site-footer-bottom {
	padding-top: 34px;
	padding-bottom: 34px;
	display: block;
	background-color: var(--white-color);
	border-top: 1px solid var(--header-color);
	text-align: center;
	font-family: var(--font-inter);
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	color: var(--black-hhf-color);
}

.site-footer-bottom a {
	color: var(--email-bg-color);
}

@media only screen and (max-width: 1100px) {
	.site-footer-container {
		flex-direction: column;
		align-items: center;
		gap: 50px;
	}

	.site-footer-about {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.site-footer-about img {
		margin-bottom: 20px;
	}

	.site-footer-about p {
		margin-bottom: 25px;
		text-align: center;
	}

	.site-footer-links {
		gap: 20px;
		justify-content: center;
	}

	.site-footer-links li:not(:first-child):not(:last-child) {
		margin-bottom: 15px;
	}

	.site-footer-links a {
		font-size: 16px;
		display: block;
		text-align: center;
	}

	.site-footer-links li:first-child a {
		margin-bottom: 20px;
		font-weight: 500;
		font-size: 20px;
	}

	.site-footer-adress {
		flex-direction: column;
		align-items: center;
		gap: 16px;
	}

	.site-footer-contact > p {
		text-align: center;
		font-size: 20px;
	}

	.site-footer-adress ul:first-child li:not(:last-child) {
		margin-bottom: 15px;
	}

	.site-footer-adress li {
		min-width: 200px;
	}

	.site-footer-input,
	.site-footer-input input {
		width: 100%;
	}

	.site-footer-input button {
		padding-left: 15px;
		padding-right: 15px;
		font-size: 15px;
	}
}
