/* Custom props */
:root {
	--white-color: #fff;
	--header-color: #f6f4f0;
	--yellow-color: #fdcf24;
	--black-hhf-color: #1e1e1e;
	--title-color: #12141d;
	--subtitle-color: rgba(18, 20, 29, 0.7);
	--black-color: #000000;
	--text-color: #454242;
	--green-color: #055f5b;
	--card-border-color: #e2dad6;
	--card-bg-color: #faf8f6;
	--pricing-bg-color: linear-gradient(
		to bottom,
		rgba(245, 241, 238, 0.2),
		#f5f1ee
	);
	--email-bg-color: #649969;
	--font-inter: 'Inter';
	--font-kanit: 'Kanit';
}

/* Font family */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Global */
html {
	height: 100%;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	height: 100%;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	font-family: 'Arial', sans-serif;
	background-color: #fff;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
}

img {
	max-width: 100%;
	height: auto;
}

#preloader {
	position: fixed;
	inset: 0;
	z-index: 999999;
	overflow: hidden;
	background: #fff;
	transition: all 0.6s ease-out;
}

#preloader:before {
	content: '';
	position: fixed;
	top: calc(50% - 30px);
	left: calc(50% - 30px);
	border: 6px solid yellow;
	border-color: #34caa5 black;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	animation: animate-preloader 1.5s linear infinite;
}

@keyframes animate-preloader {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

/* Scroll top */
.scroll-top {
	position: fixed;
	visibility: hidden;
	opacity: 0;
	right: 15px;
	bottom: -15px;
	z-index: 99999;
	background-color: #ffff00;
	width: 44px;
	height: 44px;
	border-radius: 50px;
	transition: all 0.4s;
}

.scroll-top i {
	font-size: 24px;
	color: #000;
	line-height: 0;
}

.scroll-top:hover {
	background-color: rgba(255, 255, 0, 0.8);
}

.scroll-top.active {
	visibility: visible;
	opacity: 1;
	bottom: 15px;
}

/* Container */
.container {
	width: 100%;
	max-width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
}

/* Main content */
.main-content {
	flex-grow: 1;
}

/* Site header */
.site-header {
	padding-top: 25px;
	padding-bottom: 25px;
	background-color: var(--header-color);
}

.navbar .container-fluid {
	background-color: var(--header-color);
}

.navbar-brand {
	margin-right: 53px;
}

.navbar-nav {
	gap: 60px;
	margin-right: auto;
}

.nav-link {
	font-family: var(--font-inter);
	font-weight: 500;
	font-size: 18px;
	line-height: 24px;
	color: var(--black-hhf-color);
}

.nav-link:hover {
	color: var(--text-color);
}

.nav-link:focus {
	color: #34caa5;
}

.header-btns {
	display: flex;
	align-items: center;
	gap: 16px;
}

.sign-btn,
.started-btn {
	white-space: nowrap;
	border: 0;
	padding: 13px 20px;
	border-radius: 10px;
	font-family: var(--font-inter);
	font-weight: 500;
	font-size: 18px;
	line-height: 24px;
	color: var(--black-hhf-color);
	transition: all 0.3s linear;
}

.sign-btn {
	border: 2px solid var(--black-hhf-color);
	background-color: var(--white-color);
}

.sign-btn:hover {
	border-color: var(--yellow-color);
}

.started-btn {
	background-color: var(--yellow-color);
}

.started-btn:hover {
	background-color: var(--white-color);
}

.navbar-toggler:focus {
	box-shadow: 0 0 0 3px #34caa5;
}

@media only screen and (max-width: 991px) {
	.navbar-nav {
		gap: 15px;
		align-items: center;
		margin-top: 20px;
		margin-bottom: 20px !important;
	}

	.header-btns {
		justify-content: center;
	}
}

@media only screen and (max-width: 340px) {
	.header-btns {
		flex-direction: column;
	}
}
